# it.zone hackaton/.dockerignore (Для контекста сборки бэкенда, который будет ".")

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/ # Явно указываем, если есть
.git/
.idea/
*.db
frontend/         # <--- ВАЖНО: Исключаем папку frontend
node_modules/     # На всякий случай, если вдруг появится в корне
dist/             # На всякий случай
*.log
*.env             # Не копируем файлы .env в образ, передаем через переменные окружения Docker
docker-compose.yml # Не нужно в образе
*.pptx            # Исключаем презентацию
test.py           # Исключаем тестовые скрипты, если они не нужны в продакшене
test2.py